img {
    width: 70%;
    height: auto;
    border-radius: 1.5rem;
  }

.img-wrapper {
    text-align: center;
    padding-bottom: 3rem;
}

h1, h2, p, ul {
    text-align: center;
    font-family: monospace;
}

h1, h2 {
    color: bisque;
    padding-top: 3rem;
}

li:last-of-type {
    padding-bottom: 3rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.character-card {
    margin-block: 3rem;
    background-color: rgb(50, 44, 58);
    border: 1px solid rgba(65, 56, 78,0.5);
    border-radius: 1.5rem;
    width: 100%;
}